SOGM-3D-2D-Net/results
Data/KPConv_data/*
Data/KPConv_results/*
Data/Simulation/*

SOGM-3D-2D-Net/core

**/desktop.ini
git_login.sh
**/build/**
/src/collision_trainer/results
/src/collision_trainer/core

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
