SOGM-3D-2D-Net/results

Data/*
!Data/github_im.png
!Data/KPConv_data
Data/KPConv_data/*
!Data/KPConv_data/myhal_sym.yaml

SOGM-3D-2D-Net/cpp_wrappers/g2o/**
SOGM-3D-2D-Net/cpp_wrappers/ceres-solver-2.0.0/**
SOGM-3D-2D-Net/cpp_wrappers/ceres-bin/**



SOGM-3D-2D-Net/core
**/core
core

**/desktop.ini
git_login.sh
**/build/**
/src/collision_trainer/results
/src/collision_trainer/core

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
