<?xml version="1.0"?>
<launch>
    <arg name="in_topic" default="/velodyne_points"/>
    <arg name="out_topic" default="/filtered_points"/>
    <arg name="gt_classify" default="true" />


    <!-- if we are using gt classifications -->
    <group if="$(arg gt_classify)">

        <node pkg="jackal_velodyne" type="pcl_filter_node" name="point_filter">
            <remap from="cloud_in" to="/velodyne_points"/>
            <remap from="scan" to="$(arg out_topic)" />
            <rosparam>
                target_frame: base_link
                transform_tolerance: 0.01
                min_height: 0.01
                max_height: 1
                
                angle_min: -3.1415
                angle_max: 3.1415
                angle_increment: 0.01
                scan_time: 0.01
                range_min: 0
                range_max: 30
                use_inf: true
                
                #concurrency_level affects number of pc queued for processing and the number of threadsused
                # 0: Detect number of cores
                # 1: Single threaded
                # 2: inf : Parallelism level
                concurrency_level: 0

                catagories:
                    - 1
                    - 3
                    - 4
                    - 5
                    - 6
            </rosparam>
        </node>

    </group>

    <!-- if we are using online classification-->
    <group unless="$(arg gt_classify)">

        <node pkg="jackal_velodyne" type="pcl_filter_node" name="gmapping_filter">
            <remap from="cloud_in" to="/classified_points"/>
            <remap from="scan" to="$(arg out_topic)" />
            <rosparam>
                target_frame: base_link
                transform_tolerance: 0.01
                min_height: 0.01
                max_height: 1
                
                angle_min: -3.1415
                angle_max: 3.1415
                angle_increment: 0.01
                scan_time: 0.01
                range_min: 0
                range_max: 30
                use_inf: true
                
                #concurrency_level affects number of pc queued for processing and the number of threadsused
                # 0: Detect number of cores
                # 1: Single threaded
                # 2: inf : Parallelism level
                concurrency_level: 0

                catagories:
                    - 0
                    - 2
                    - 3
            </rosparam>
        </node>


    </group>


</launch>
