<?xml version="1.0"?>
<launch>

  <arg name="filter" default="false" />
  <arg name="loc_method" default="0" />
  <arg name="map_file" default="$(find jackal_velodyne)/maps/myhal_map_V3.yaml"/>
  <arg name="gt_classify" default="true" />

  <!-- Load Jackal's description-->
  <param name="robot_description"
         command="$(find jackal_description)/scripts/env_run
                    $(find jackal_description)/urdf/configs/front_laser
                    $(find xacro)/xacro 
                    $(find jackal_velodyne)/urdf/jackal_velodyne.urdf.xacro 
                    --inorder" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


  <!-- Control -->
  <include file="$(find jackal_velodyne)/launch/include/control.launch" />

  <include file="$(find jackal_velodyne)/launch/include/pointcloud_filter2.launch">
    <arg name="filter" value="$(arg filter)" />
    <arg name="loc_method" value="$(arg loc_method)" />
    <arg name="gt_classify" value="$(arg gt_classify)" />
  </include>


  <!-- Spawn Jackal with a delay to wait for camera init -->
  <arg name="node_start_delay" default="0.1" />  
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " 
              args="-urdf -model jackal -param robot_description -x 0 -y 0 -z 0.5" />

  <group if="$(eval arg('loc_method')==0)">
    <include file="$(find jackal_velodyne)/launch/include/gmapping.launch"/>
  </group>

  <group if="$(eval arg('loc_method')==1)">
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
     <include file="$(find jackal_velodyne)/launch/include/amcl.launch" />
  </group>

  <group if="$(eval arg('loc_method')==2)">
    <include file="$(find jackal_velodyne)/launch/include/point_slam.launch">
      <arg name="filter" value="$(arg filter)" />
      <arg name="gt_classify" value="$(arg gt_classify)" />
    </include>
  </group>
    
    <!--- Run Move Base -->
  <include file="$(find jackal_velodyne)/launch/include/move_base.launch">
    <arg name="loc_method" value="$(arg loc_method)" />
  </include>

 
  <node pkg="myhal_simulator" type="navigation_goals_V2" name="navigation_goals_V2"/>
  <node pkg="dashboard" type="meta_data.py" name="meta_data" output="screen"/>
  
</launch>




<!--node pkg="jackal_velodyne" type="tf_publisher"    name="tf_publisher"    output="screen"/-->

<!--include file="$(find jackal_control)/launch/teleop.launch">
    <arg name="joystick" value="false"/>
</include-->
